@-webkit-keyframes hero-logo {
  0%   { opacity: 0; top: -10px; }
  100% { opacity: 1; top: 0px; }
}

@-webkit-keyframes hero-h1 {
  0%   { opacity: 0; margin-top: -10px; }
  100% { opacity: 1; margin-top: 0px; }
}

@-webkit-keyframes hero-p {
  0%   { opacity: 0; margin-top: -10px;}
  100% { opacity: 1; margin-top: 0px; }
}

@-webkit-keyframes hero-bg {
  0%   { -webkit-transform:scale(0.9);} 
  100% { -webkit-transform:scale(1);}
}



.hero {
  @include header-animation(hero-bg, 0.2s, ease-out, 0.0s);
}

.hero .logo {
  @include header-animation(hero-logo, 0.3s, ease-out, 0.2s);
  opacity: 0;
}

.hero h1 {
  @include header-animation(hero-h1, 0.3s, ease-out, 0.4s);
  opacity: 0;
}

.hero p {
  @include header-animation(hero-p, 0.3s, ease-out, 0.6s);
  opacity: 0;
}