// Keyframe filling animationfillcode.com

@-webkit-keyframes hero-logo {
  0%   { opacity: 0; top: -10px; }
  100% { opacity: 1; top: 0px; }
}

@-moz-keyframes hero-logo {
  0%   { opacity: 0; top: -10px; }
  100% { opacity: 1; top: 0px; }
}

@-o-keyframes hero-logo {
  0%   { opacity: 0; top: -10px; }
  100% { opacity: 1; top: 0px; }
}

@keyframes hero-logo {
  0%   { opacity: 0; top: -10px; }
  100% { opacity: 1; top: 0px; }
}

@-webkit-keyframes hero-h1 {
  0%   { opacity: 0; margin-top: -10px; }
  100% { opacity: 1; margin-top: 0px; }
}

@-moz-keyframes hero-h1 {
  0%   { opacity: 0; margin-top: -10px; }
  100% { opacity: 1; margin-top: 0px; }
}

@-o-keyframes hero-h1 {
  0%   { opacity: 0; margin-top: -10px; }
  100% { opacity: 1; margin-top: 0px; }
}

@keyframes hero-h1 {
  0%   { opacity: 0; margin-top: -10px; }
  100% { opacity: 1; margin-top: 0px; }
}

@-webkit-keyframes hero-p {
  0%   { opacity: 0; margin-top: -10px;}
  100% { opacity: 1; margin-top: 0px; }
}

@-moz-keyframes hero-p {
  0%   { opacity: 0; margin-top: -10px;}
  100% { opacity: 1; margin-top: 0px; }
}

@-o-keyframes hero-p {
  0%   { opacity: 0; margin-top: -10px;}
  100% { opacity: 1; margin-top: 0px; }
}

@keyframes hero-p {
  0%   { opacity: 0; margin-top: -10px;}
  100% { opacity: 1; margin-top: 0px; }
}


// STYLES

.hero .logo {
  @include header-animation(hero-logo, 0.3s, ease-out, 0.5s);
  opacity: 0;
}

.hero h1 {
  @include header-animation(hero-h1, 0.3s, ease-out, 0.7s);
  opacity: 0;
}

.hero p {
  @include header-animation(hero-p, 0.3s, ease-out, 0.9s);
  opacity: 0;
}


// @-webkit-keyframes hero-logo {
//   0%   { opacity: 0; top: -10px; }
//   100% { opacity: 1; top: 0px; }
// }
// 
// @-webkit-keyframes hero-h1 {
//   0%   { opacity: 0; margin-top: -10px; }
//   100% { opacity: 1; margin-top: 0px; }
// }
// 
// @-webkit-keyframes hero-p {
//   0%   { opacity: 0; margin-top: -10px;}
//   100% { opacity: 1; margin-top: 0px; }
// }
 